<%= form_with(model: user) do |form| %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
    <% if user.errors[:first_name].any? %>
      <div class="error-message">
        *
        <%= user.errors[:first_name].first %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
    <% if user.errors[:last_name].any? %>
      <div class="error-message">
        *
        <%= user.errors[:last_name].first %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :birth_date, style: "display: block" %>
    <%= form.date_field :birth_date %>
    <% if user.errors[:birth_date].any? %>
      <div class="error-message">
        *
        <%= user.errors[:birth_date].first %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
    <% if user.errors[:email].any? %>
      <div class="error-message">
        *
        <%= user.errors[:email].first %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :gender_id, style: "display: block" %>
    <%= form.collection_select :gender_id, Gender.order(:description), :id, :description, include_blank: true %>
    <% if user.errors[:gender_id].any? %>
      <div class="error-message">
        *
        <%= user.errors[:gender_id].first %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
    <% if user.errors[:address].any? %>
      <div class="error-message">
        *
        <%= user.errors[:address].first %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :house_or_apartment, style: "display: block" %>
    <%= form.text_field :house_or_apartment %>
    <% if user.errors[:house_or_apartment].any? %>
      <div class="error-message">
        *
        <%= user.errors[:house_or_apartment].first %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :country_id, style: "display: block" %>
    <%= form.collection_select :country_id, Country.order(:name), :id, :name, include_blank: true, id: 'country_select' %>
    <% if user.errors[:country_id].any? %>
      <div class="error-message">
        *
        <%= user.errors[:country_id].first %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :state_id, style: "display: block" %>
    <%= form.collection_select :state_id, State.order(:name), :id, :name, include_blank: true, id: 'state_select', disabled: true %>
    <% if user.errors[:state_id].any? %>
      <div class="error-message">
        *
        <%= user.errors[:state_id].first %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :city_id, style: "display: block" %>
    <%= form.collection_select :city_id, City.order(:name), :id, :name, include_blank: true, id: 'city_select', disabled: true %>
    <% if user.errors[:city_id].any? %>
      <div class="error-message">
        *
        <%= user.errors[:city_id].first %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
