<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= user.birth_date %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= user.gender_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user.address_id %>
  </p>

</div>
