<tr id="<%= dom_id(user) %>">
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.birth_date %></td>
  <td><%= user.email %></td>
  <td><%= user.address %></td>
  <td><%= user.house_or_apartment %></td>
  <td><%= user.gender.description %></td> <!-- Aquí deberías mostrar el texto asociado al ID -->
  <td><%= user.city.name %></td> <!-- Aquí deberías mostrar el nombre de la ciudad asociada al ID -->
  <td><%= user.country.name %></td> <!-- Aquí deberías mostrar el nombre del país asociado al ID -->
  <td><%= user.state.name %></td> <!-- Aquí deberías mostrar el nombre del estado asociado al ID -->
  <td>
    <%= link_to "Edit this user", edit_user_path(user) %> |
    <%= button_to "Destroy this user", user, method: :delete %>
  </td>
</tr>
