<tr id="<%= dom_id(user) %>">
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.birth_date %></td>
  <td><%= user.email %></td>
  <td><%= user.address %></td>
  <td><%= user.house_or_apartment %></td>
  <td><%= user.gender.description %></td>
  <td><%= user.city.name %></td> 
  <td><%= user.country.name %></td> 
  <td><%= user.state.name %></td> 
</tr>
